<div class="card border-primary mb-3">
    <form name="formulario" action="035-ejemplo-atributos-min-max-html5.php" method="POST">
        <label for="number">Tamaño de la pagina</label> 
        <input type="number" name="tamaño pagina" value="100" max="100" min="1">   

        <label for="autor">Nombre Del Artista</label>
        <input type="text" placeholder="Artista">

        <div class="pagina">
            <input type="number">
            <button><-</button>
            <button>ir</button>
            <button>-></button>
        </div>
    </form>
</div>
